RCLONE_REMOTE_NAME=yd
YDSK_REMOTE_PATH=backup/project-a
LSYNCD_DELAY_SECONDS=5
LSYNCD_LOG_LEVEL=normal
RCLONE_SYNC_FLAGS=-vv --stats=10s --stats-one-line
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_OAUTH_SCOPE=
YANDEX_OAUTH_DEBUG=0
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN=
TELEGRAM_AUTH_TIMEOUT=900
